html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1.1rem;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #7786a7;
}

header {
  width: 100%;
  background-color: #2e416f;
  nav {
    min-height: 100px;
    line-height: 100px;
    margin-left: 30px;
    color: white;
    font-size: 1.4rem;
  }
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #7786a7;
  padding: 35px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2e416f;
  color: #fff;
  height: 35px;
  .text {
    text-align: center;
    line-height: 35px;
  }
}

// inputBox
.inputBox {
  border: 1px dotted #2e416f;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-bottom: 10px;
  h2 {
    color: #fff;
    text-shadow: #2e416fa8 2px 2px 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 5px 40px;
    font-size: 1.4rem;
  }
}

// LEFT PAGE SIDE
.LeftSide {
  width: 50%;
  padding: 20px;
}

// RIGHT PAGE SIDE
.RightSide {
  position: fixed;
  top: 155px;
  left: 60%;
  width: 500px;
  border-top: 1px solid #2e416f;
  border-left: 1px solid #2e416f;
  box-shadow: #2e416fa8 2.95px 2.95px 3px;
  .outputBox {
    margin: 10px 10px;
    h2 {
      color: #2e416f;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
    p.output {
      margin: 10px 10px;
      color: #e4e4e4;
      strong {
        color: #2e416f;
      }
    }
  }
}

// PRINT PAGE
.PrintPage {
  display: none;
  font-size: 24px;
  margin: 5mm 5mm;
  h1 {
    color: #2e416f;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
  }
  .outputBox {
    margin: 10px 10px;
    h2 {
      color: #2e416f;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 5px;
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
    p.output {
      margin: 10px 10px;
      color: #e4e4e4;
      strong {
        color: #2e416f;
      }
    }
  }
}

@media print {
  .PrintPage {
    display: block;
  }
}
